* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
}

.horizontalSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    height: 100px;
    margin-bottom: 0;
}

#TopHeader {
    margin-top: 20px;
}


#SearchHeader {
    margin-top: 10px;
}

.topHeaderSides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#Title {
    font-size: 3rem
}

#MainCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.movieSection {
    margin: 50px;
    font-size: 4rem;
}

.movieRow {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
}

.movie > img {
    width: 300px;
}