* {border: 0; margin: 0; padding: 0; box-sizing: border-box; font-family: Verdana; text-align: center; font-weight: bold;}

body {
    width: 100vw; height: 100%; min-height: 100vh; display: flex; flex-direction: column; gap: 20px; justify-content: center; align-items: center;
    background-image: url(fries.jpg);
}

#GameTitle {
    font-size: 3.5rem; 
    margin-bottom: 5vw;
    background-color:chartreuse;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    width: 100%;
    padding: 2vh;
}

#Game {
    border-collapse: collapse;
    border: black 5px solid;
    max-width: 300px;
    max-height: 300px;
    width: 60vw;
    height: 60vw;
}

#Game td {
    border: black 3px solid;
    width: calc(100%/3);
    height: calc(100%/3);
    background-color: white;
}

#Game td:hover {
    background-color: gray;
}

#Game img {
    width: 80%;
}

td > div {
    width: 100%;
    height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#Functions {
    max-width: 100%;
    width: 500px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.button {
    background-color: aquamarine;
    border: 2px black solid;
    padding: 10px;
    transition: ease 0.3s;
}

.button:hover {
    background-color: blue;
    scale: 1.2;
}